[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
invgp = {editable = true,path = "."}
gpytorch = "*"
matplotlib = "*"
numpy = "*"
torch = "*"

[dev-packages]
codecov = "*"
ipython = "*"
pytest = "*"
pytest-codestyle = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mypy = "*"
